header {
  border-bottom: 1px solid #ddd;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  background-color: #fff;
}

header.fixed {
  position: fixed;
  animation-name: show_header;
  animation-duration: 0.7s;
}

@keyframes show_header {
  0% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
  position: relative;
}

/* For big Screen */
header .container .box-icon {
  display: flex;
  gap: 30px;
}

header .container .box-icon .icon {
  font-size: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

header .container .box-icon .icon span.count {
  position: absolute;
  top: -5px;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: normal;
  background-color: #329b6b;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

header .container .btn {
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  padding: 10px 10px;
  border-radius: 5px;
  color: #000;
}

/* For Small Screen */
.side-bar {
  position: fixed;
  top: 0;
  right: -101vw;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: #f6f6f6;
  padding: 50px;
  transition: 0.4s;
}

.side-bar.show {
  right: 0;
}

.side-bar .btn {
  position: absolute;
  right: 25px;
  top: 25px;
  border-radius: 50px;
  font-size: 20px;
  width: 50px;
  height: 50px;
  padding: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: #000;
  cursor: pointer;
}

.side-bar .box-icon {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 50px;
}

.side-bar .box-icon {
  display: flex;
  gap: 30px;
}

.side-bar .box-icon .icon {
  font-size: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.side-bar .box-icon .icon span.count {
  position: absolute;
  top: -5px;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: normal;
  background-color: #329b6b;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}
